<openerp>
  	<data>
		<menuitem
		    id="m_pid"
		    name="ПИД"
			sequence="16"
			/>
			<menuitem
				id="m_pid_top"
				name="Претензионно-исковая деятельность"
				parent="m_pid"
				/>
				<menuitem
					id="m_pid_top_export"
					name="Печать отчёта"
					parent="m_pid_top"
					action="act_pid_export"
				/>
				<menuitem
					id="m_enter_pid"
					name="Претензионно-исковая деятельность"
					parent="m_pid_top"
					action="eco_pid_action"
				/>
				<menuitem
					id="m_pid_sud"
					name="Судебная работа"
					parent="m_pid_top"
					action="menu_action_sud"
				/>

		<menuitem
			id="m_docs_refs_problematics"
			name="Проблематика ПИД"
			parent="eco.m_docs_refs"
			action="menu_action_ref_problematics_action"
			/>
  	</data>
</openerp>