.help_mark_left {
    display:inline!important;
    font-size:1.2em;
}

.help_mark_left div.o_readonly {
    display:inline!important;
}

.help_mark_left div.o_readonly span {
    border-radius:1em;
    font-size:1.2em;
    color:#ffff00;
    background-color:#20b2aa;
    min-width:1em;
    /*
    float:right;
    */
    padding: 0 0.4em;
    border: 1px solid black;
    margin-bottom: 2px;
    text-shadow: black 1px 1px 0, black 1px 1px 0, black 1px 1px 0, black 1px 1px 0;
}

.text-center-force th,
.text-center-force td,
.openerp .oe_list_content td.oe_number {
    text-align: center !important;
}

